<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.asp" />
                <add value="Default.htm" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="500" subStatusCode="100" path="/CustomErrors/500-100.asp" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/CustomErrors/404.asp" responseMode="ExecuteURL" />
        </httpErrors>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="80000000" />
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <sessionState timeout="300" />
    </system.web>
</configuration>
