<!DOCTYPE html>
<html>
<head>
<title>TxDMV</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
<link rel="stylesheet" href="/styles/main.css" type="text/css" /> 
</head>
<body>
<div class="header"></div>
<div class="pagetag">The <strong>Auto Burglary and Theft Prevention Authority </strong>(ABTPA) awards financial grants to agencies, organizations, and concerned parties in an effort to raise public awareness of vehicle theft and burglary and implement education and prevention initiatives.</div>
<div class="menu">Menu Item 1<br />
Menu item 2<br />
Menu Item 3

</div>
<div class="content">This is the page content! I will make the text longer so that it is long enough to wrap and see where the margins are.</div>
<div class="clearfix"></div>
<div class="footer">TxABTPA, ppri.tamu.edu &copy; 2017</div>
</body>
</html>